theme: jekyll-theme-leap-day
plugins:
  - jekyll-relative-links
relative_links:
  enabled: true
  collections: true
include:
  - README.md
  - pages/Building_DataFrames.md
  - pages/Read_Write_Partition.md
  - pages/Analysis.md
